/* HOME */
.home-section {
  padding-top: 30px;
  padding-left: 100px;
  font-size: 2.6em !important;
}

.wave {
  display: inline-block;
  animation: wave-animation 1s ease-in-out infinite;
  transform-origin: bottom center;
  font-size: 5em !important;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg); /* Initial position */
  }
  25% {
    transform: rotate(10deg); /* Slight tilt to the right */
  }
  50% {
    transform: rotate(0deg); /* Back to the original position */
  }
  75% {
    transform: rotate(-10deg); /* Slight tilt to the left */
  }
  100% {
    transform: rotate(0deg); /* Back to the original position */
  }
}

.name {
  color: #9f54bc;
}

.type-writing {
  padding-top: 50px;
  color: #9f54bc;
}
