/* HOME */
.home-section {
  padding-top: 30px;
  padding-left: 100px;
  font-size: 2.6em !important;
}

.wave {
  display: inline-block;
  animation: wave-animation 1s ease-in-out infinite;
  transform-origin: bottom center;
  font-size: 6em !important;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.name {
  color: #b078c7;
}

.type-writing {
  padding-top: 50px;
  color: #b078c7;
}

/* ABOUT */
@keyframes image-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.moving-image {
  animation: image-animation 1.5s ease-in-out infinite;
}

/* FOOTER */
.home-about-social {
  text-align: center !important;
  padding-top: 25px;
}

.home-about-social-links {
  justify-content: center !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 90px !important;
  height: 90px !important;
  text-align: center !important;
  font-size: 3em !important;
  line-height: 2em !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
  padding-bottom: 100%;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #b078c7;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #b078c7;
}

.home-social-icons:hover {
  color: #b078c7;
  box-shadow: 0 0 5px #b078c7;
  text-shadow: 0 0 2px #b078c7;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #b078c7 !important;
}
